<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <form action="/register" method="post">
            id : <%=id%> <br/>
            <input type="text" name="id" style="display:none;" value=<%=id%>>
            phone : <input type="text" name="phone"> <br/>
            address : <input type="text" name="address"> <br/>
            <input type="submit" value="등록">
        </form> 
    </body>
</html>